<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/layout :: navbar}"></div>
<div th:replace="~{fragments/layout :: sidebar}"></div>
<!--Contenido principal-->
<div class="p-4 sm:ml-64 mt-14">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm">

        <div class="mb-6">
            <h2 class="text-2xl font-bold text-gray-900">Listado de Solicitud Generadas</h2>
        </div>

        <div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
            <!--BUSCARLIBRO-->
            <form th:action="@{solicitud}" method="get" class="mb-3">
                <div class="input-group">
                    <input type="text" name="buscarSolictud" class="form-control" placeholder="Buscar solicitud" th:value="${buscarSolicitud}">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </form>

            <table class="w-full text-sm text-left rtl:text-right text-body">
                <thead class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium">
                <tr>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Nombres
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Apellidos
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Fecha Inicio
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Fecha Fin
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Correo
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Descripcion
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="solicitud:${solicitud}" class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium">
                    <th th:text="*{solicitud.nombres}" scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">

                    </th>
                    <td th:text="*{solicitud.apellidos}" class="px-6 py-4">

                    </td>
                    <td th:text="*{solicitud.fechaDesde}" class="px-6 py-4">

                    </td>
                    <td th:text="*{solicitud.fechaHasta}" class="px-6 py-4">

                    </td>
                    <td th:text="*{solicitud.email}" class="px-6 py-4">

                    </td>
                    <td th:text="*{solicitud.descripcion}" class="px-6 py-4">

                    </td>
                    <td class="px-6 py-4 text-right">
                        <a th:href="@{/solicitud/editarSolicitud/} +${solicitud.id}" class="font-medium text-fg-brand hover:underline">Edit</a>
                        <form th:action="@{/solicitud/eliminarSolicitud/} +${solicitud.id}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" onclick="return confirm('Estas seguro de eliminar el registro!!!')">Eliminar</button>
                        </form>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>


    </div>
</div>

</body>
</html>